## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os
import csv
import numpy as np

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("weatherpy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,8,Coahuayana,MX,79.47,overcast clouds,18.7333,-103.6833,El rranchito michuacan de ocampos
1,9,San Quintin,MX,75.16,few clouds,30.4833,-115.9500,Don Eddie's Sport Fishing Center
2,13,Manta,EC,78.58,scattered clouds,-0.9500,-80.7333,Balandra Hotel
3,15,Samarai,PG,78.73,overcast clouds,-10.6167,150.6667,Nuli Sapi
4,16,Kulhudhuffushi,MV,81.45,clear sky,6.6221,73.0700,Haajy Guest House 1

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)


# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 


#End/Start
#Hotel Name: Pousada e churrascaria Manguaba
#City: Pilar
#Country: BRscattered cloudsovercast clouds
#Max Temp: 75.13

#stop1
#Hotel Name: Pousada 100 Passos
#City: Tamandare
#Country: BR
#Weather Description: 75.85

#stop2
#Hotel Name: Salinas do Maragogi All Inclusive Resort
#City: Maragogi
#Country: BR
#Weather Description: clear sky
#Max Temp: 75.49

#stop3
#Hotel Name: Hotel Ponta Verde Maceió
#City: Maceio
#Country: BR
#Weather Description: clear sky
#Max Temp: 76.44




start_city = "Pilar"
end_city = "Pilar"
city1 = "Tamandare"
city2 = "Maragogi"
city3 = "Maceio"

vacation_start = vacation_df.loc[vacation_df["City"] == start_city]
vacation_end = vacation_df.loc[vacation_df["City"] == end_city]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == city1]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == city2] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == city3]

In [13]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat","Lng"]].to_numpy()
start = start[0]
end = vacation_end[["Lat","Lng"]].to_numpy()
end = end[0]
stop1 = vacation_stop1[["Lat","Lng"]].to_numpy()
stop1 = stop1[0]
stop2 = vacation_stop2[["Lat","Lng"]].to_numpy()
stop2 = stop2[0]
stop3 = vacation_stop3[["Lat","Lng"]].to_numpy()
stop3 = stop3[0]

In [18]:
end

array([ -9.5972, -35.9567])

In [20]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
72,280,Pilar,BR,75.13,scattered clouds,-9.5972,-35.9567,Pousada e churrascaria Manguaba

In [22]:
vacation_stop1

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
31,101,Tamandare,BR,75.85,clear sky,-8.7597,-35.1047,Pousada 100 Passos

In [23]:
vacation_stop2

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
151,624,Maragogi,BR,75.49,clear sky,-9.0122,-35.2225,Salinas do Maragogi All Inclusive Resort

In [24]:
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
128,530,Maceio,BR,76.44,clear sky,-9.6658,-35.7353,Hotel Ponta Verde Maceió

In [7]:
#verifying

stop1

array([19.8 , 85.85])

In [15]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
travel_route = gmaps.directions_layer(
        start, end, waypoints=[stop1,stop2,stop3],
        travel_mode='DRIVING')
fig.add_layer(travel_route)

fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,280,Pilar,BR,75.13,scattered clouds,-9.5972,-35.9567,Pousada e churrascaria Manguaba
1,101,Tamandare,BR,75.85,clear sky,-8.7597,-35.1047,Pousada 100 Passos
2,624,Maragogi,BR,75.49,clear sky,-9.0122,-35.2225,Salinas do Maragogi All Inclusive Resort
3,530,Maceio,BR,76.44,clear sky,-9.6658,-35.7353,Hotel Ponta Verde Maceió

In [10]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""


# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [25]:
# 11a. Add a marker layer for each city to the map.
description= vacation_df["Current Description"]
fig= gmaps.figure(center=(40,3),zoom_level= 5)
heat_layer=gmaps.heatmap_layer(locations, dissipating= False, max_intensity=300, point_radius=4)
marker_layer=gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))